/************ GLOBAL STYLES ************/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
}

main {
	background-color: hsl(240, 78%, 98%);
	background-image: url('../images/bg-bottom.svg'), url('../images/bg-top.svg');
	background-position: bottom left, top right;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2 {
	font-size: 2.8rem;
	color: hsl(233, 13%, 49%);
}

h3 {
	margin-top: 3rem;
}
h3,
h4 {
	font-size: 1.3rem;
}

button {
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	width: 80%;
	height: 3.5rem;
	margin-bottom: 2.5rem;
	transition: all 0.5s;
}

/************ WRAPPER SECTION ************/
.wrapper {
	width: 70%;
	margin: auto;
}
